
<div class="bouton d-inline-flex p-2 center-block">
    <a href="sendMail"><button type="button" class="btn btn-success">Liste Email</button><br/></a>
    <a href="mail"><button type="button" class="btn btn-success">Envoi de mail</button><br/></a>
    <a href="mailTemplate"><button type="button" class="btn btn-success">Programmation des mails</button><br/></a>
</div>