{% extends './base.html.twig' %}

{% block title %}Speed Mailer{% endblock %}

{% block body %}
	{% include('sendMail/baseSendmail.html.twig') %}
	<!-- Main -->
		<div id="page">

			<h1 class="padding strong"> Programmation des mails</h1><br/>

{% endblock %}
