{% extends './base.html.twig' %}

{% block title %}Speed Mailer{% endblock %}

{% block body %}
	{% include('sendMail/baseSendmail.html.twig') %}
	<!-- Main -->
		<div id="page">

			<h1 class="padding strong"> Envoi Email</h1><br/>
			<div class="padding space">
				<div class="bouton d-inline-flex p-2">
					<button type="button" class="btn btn-success">Template Email</button><br/>
				</div>

				{{ form_start(EmailForm) }}
				<div class="my-custom-class-for-errors">
					{{ form_errors(EmailForm) }}
				</div>

				<div class="row">
					<div class="col">
						{{ form_widget(EmailForm) }}
					</div>
				</div>
				{{ form_end(EmailForm) }}

				<br/>
			</div>
		</div>





{% endblock %}
