{% extends './base.html.twig' %}

{% block title %}Speed Mailer{% endblock %}

{% block body %}
	{% include('sendMail/baseSendmail.html.twig') %}
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-1">
				<h1 class="padding strong"> Programmation des mails</h1><br/>
			</div>
		</div>
	</div>

{% endblock %}
