{% extends 'base.html.twig' %}

{% block title %}Speed Mailer{% endblock %}

{% block body %}
    <!-- Main -->
    <div id="page">

        <h1 class="padding strong"> Parametre de mailing pour l'envoi de mail</h1><br/>
        <div class="padding space">

            {{ form_start(SettingForm) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(SettingForm) }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form_widget(SettingForm) }}
                </div>
            </div>
            {{ form_end(SettingForm) }}

            <br/><br/>
            <h1 class="strong"> Envoyer des mails depuis une autre plateforme</h1><br/>

            <div class="bouton d-inline-flex p-2">
                <button type="button" class="btn btn-success">API </button><br/>
            </div>

            <div class="bouton d-inline-flex p-2">
                <button type="button" class="btn btn-success">Serveur mail </button><br/>
            </div>
        </div>


    </div>





{% endblock %}