{% extends 'baseDashboard.html.twig' %}

{% block title %} Mon compte {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="centered">  Speed Mailer Statistic  </h1>

        <br/>
        <br/>

        <div class="container">

            <div class="row mt">
                <!-- SERVER STATUS PANELS -->
                <div class="col-md-4 col-sm-4 mb">
                    <div class="grey-panel pn donut-chart">
                        <div class="grey-header">
                            <h5>Client</h5>
                        </div>
                        <div class="chart mt">
                            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                        </div>
                        <p class="mt"><b>{{ ClientNumber }}</b><br/>Client table</p>
                    </div>
                    <!-- /grey-panel -->
                </div>
                <!-- /col-md-4-->
                <div class="col-md-4 col-sm-4 mb">
                    <div class="darkblue-panel pn">
                        <div class="darkblue-header">
                            <h5>Commande</h5>
                    </div>
                    <div class="chart mt">
                        <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                    </div>
                        <p class="mt"><b>{{ OrderNumber }}</b><br/>Order table</p>
                    </div>
                    <!--  /darkblue panel -->
                </div>
                <!-- /col-md-4 -->
                <div class="col-md-4 col-sm-4 mb">
                    <!-- REVENUE PANEL -->
                    <div class="green-panel pn">
                        <div class="green-header">
                            <h5>Liste Importer</h5>
                        </div>
                        <div class="chart mt">
                            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
                        </div>
                        <p class="mt"><b>{{ ListMailNumber }}</b><br/>List table</p>
                    </div>
                </div>
                <!-- /col-md-4 -->
            </div>
    </div>
    </div>
    </div>

{% endblock %}
