{% extends 'baseDashboard.html.twig' %}

{% block title %} Mon compte {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="centered">  Speed Mailer Statistic  </h1>

        <br/>
        <br/>

        <div class="container">
            <section class="row">
                <div class="stats col-xs-4 col-sm-3 col-md-3">
                   <h2>Nombre de compte créer <br/>
                       <strong>  {{ ClientNumber }} </strong>
                   </h2>
                </div>

                <div class="stats col-xs-4 col-sm-3 col-md-3">
                    <h2>Nombre de commande <br/>
                        <strong>  {{ OrderNumber }}</strong>
                    </h2>
                </div>

                <div class="stats col-xs-4 col-sm-3 col-md-3">
                    <h2>Nombre de liste email créer <br/>
                        <strong>  {{ ListMailNumber }}</strong>
                    </h2>
                </div>

                <div class="stats col-xs-4 col-sm-3 col-md-3">
                    <h2>Nombre d'abonement' <br/>
                        <strong>  XX </strong>
                    </h2>
                </div>
            </section>
        </div>


        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>


        <div class="container">
            <section class="row">
                <div class="stats col-xs-4 col-sm-3 col-md-3">
                    <h2>Satisfaction client ( 1 et 5 étoiles ) <br/>
                        <strong>  XX </strong>
                    </h2>
                </div>

                <div class="stats col-xs-4 col-sm-3 col-md-3">
                    <h2>Durée de vie d'un client ( LTV )  <br/>
                        <strong>  XXX </strong>
                    </h2>
                </div>

                <div class="stats col-xs-4 col-sm-3 col-md-3">
                    <h2>Cout d'acquisition du client ( CAC )  <br/>
                        <strong>  XX </strong>
                    </h2>
                </div>

                <div class="stats col-xs-4 col-sm-3 col-md-3">
                    <h2>Chiffre d'affaire <br/>
                        <strong>  XX </strong>
                    </h2>
                </div>
            </section>
        </div>
    </div>



{% endblock %}
