{# templates/emails/signup.html.twig #}

<h3>Nous avons recu votre commande</h3>

<p> Nous traitons actuellement votre commande. Nous vous souhaitons une agréable navigation sur speedMailer

<ul>
<li> Numero de commande : {{ order.id }} </li>
<li> Montant de la commande : {{ order.amount }} </li>
<li> Status  : {{ order.status }} </li>
</ul>