{# templates/emails/token.html.twig #}

<h3>Renouvellement de mot de passe</h3>

SpeedMailer a recu une demande de changement de mot de passe suite a un oubli de celui-ci

Pour changer votre mot de passe, rendez vous <a href="{{ url('reset_password_with_token', { token: user.token }) }}">
   ici</a>.
<br/>
<p> Si vous n'êtes pas a l'origine de cette demande, veuillez ignorez cet email</p>