{% extends 'base.html.twig' %}

{% block title %} faq {% endblock %}

{% block body %}

    <div class="container">
        <br />
        <br />
        <h1> FAQ </h1>
        <!-- Todo  -->

        <br />
        <br />

        <div class="" id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="card-block">
                        Account registration at <strong>PrepBootstrap</strong> is only required if you will be selling or buying themes.
                        This ensures a valid communication channel for all parties involved in any transactions.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Sellers</div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Who cen sell items?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="card-block">
                        Any registed user, who presents a work, which is genuine and appealing, can post it on <strong>PrepBootstrap</strong>.
                    </div>
                </div>
            </div>

            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">When do I get paid?</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="card-block">
                        Our standard payment plan provides for monthly payments. At the end of each month, all accumulated funds are transfered to your account.
                        The minimum amount of your balance should be at least 70 USD.
                    </div>
                </div>
            </div>

            <div class="faqHeader">Buyers</div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">I want to buy a theme - what are the steps?</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="card-block">
                        Buying a theme on <strong>PrepBootstrap</strong> is really simple. Each theme has a live preview.
                        Once you have selected a theme or template, which is to your liking, you can quickly and securely pay via Paypal.
                        <br />
                        Once the transaction is complete, you gain full access to the purchased product.
                    </div>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Is this the latest version of an item</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="card-block">
                        Each item in <strong>PrepBootstrap</strong> is maintained to its latest version. This ensures its smooth operation.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>


    <style>
        .faqHeader {
            font-size: 27px;
            margin: 20px;
        }

        a {
            color : white ;
        }

        .card-header {
            background-color:rgb(0,170,221);
            margin-bottom : 10px ;
            padding: 20px ;
        }
        .panel-heading [data-toggle="collapse"]:after {
            font-family: 'Glyphicons Halflings';
            content: "e072"; /* "play" icon */
            float: right;
            color: #F58723;
            font-size: 18px;
            line-height: 22px;
            /* rotate "play" icon from > (right arrow) to down arrow */
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .panel-heading [data-toggle="collapse"].collapsed:after {
            /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    </style>

{% endblock %}