{% extends './base.html.twig' %}

{% block title %}Speed Mailer{% endblock %}

{% block body %}
	<!-- Main -->
		<div id="page">

			<h1 class="padding strong"> Home Application</h1><br/>

		</div>

{% endblock %}
