{% extends './base.html.twig' %}

{% block title %}Speed Mailer{% endblock %}

{% block body %}
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-1">
				<h1 class="strong"> Speed Mailer</h1>
					<p>Generez une liste d'email ciblé, et envoyez vos listes aux prospect</p>
				</div>
			</div>
				<!-- TODO: Evaluer si l'on est connecté et si l'on a atteint le maximum de la version gratuite -->
				<a href="#"><button type="button" class="btn btn-success">Essai gratuit</button></a><br/><br/><br/>
				<a href="{{ path('offer') }}"><button type="button" class="btn btn-success">Paiement de l'application</button><br/></a>
		</div>
{% endblock %}
