{% extends 'base.html.twig' %}

{% block title %} Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <h1 class="strong"> Speed Mailer Statistic</h1>
                <p>Nombre de client présent : </p>
                <p>Nombre de commande : </p>
                <p>Nombre d'abonement : </p>
                <p>Satisfaction Client ( 1 à 5 etoiles ) :  </p>
                <p> Duré de vie d'un client :</p>
                <p> Chiffre d'affaire : </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <h1 class="strong"> Todo </h1>
                <p>Espace Messagerie Contact</p>
            </div>
        </div>
    </div>
{% endblock %}
