{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <h1> Bonjour {{ app.user.email }} content de vous revoir !  </h1>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <h1 class="strong"> Votre compte Speed Mailer</h1>
                <p> Mes commandes & factures </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-1">
                <h1 class="strong"> Todo </h1>
                <p>Changement de mots de passe</p>
                <p>Changement de photo de profil</p>
                <p>Changement d'adresse mail ( avec vérification )</p>
            </div>
        </div>
    </div>
{% endblock %}
