{% extends 'base.html.twig' %}

{% block title %}Speed Mailer{% endblock %}

{% block body %}
    <!-- Main -->
    <div id="page">

        <h1 class="padding strong"> Paiement pour un accès a l'application Speed Mailer</h1><br/>
        <div class="padding space">
            <h2> </h2>
            <br/>
            <div class="bouton d-inline-flex p-2">
                <button type="button" class="btn btn-success">Payer </button><br/>
            </div>
        </div>


    </div>





{% endblock %}