<script src="https://js.stripe.com/v3/"></script>
<h1 class="center white-text">
        Paiement</h1>
 
    <div class="row">
        <div class="col s12 m4 l4 offset-m4 offset-l4">
            <form id="payment-form" method="post">
 
                <div class="form-row" id="card-element">
                    <label>
                        <span>Numéro carte</span>
                        <input data-stripe="number" size="16" type="text">
                    </label>
 
 
                    <label>
                        <span>Expire en (MM/YY)</span>
                        <input data-stripe="exp_month" size="2" type="text">
                    </label>
                    <span>
                        /
                    </span>
                    <input data-stripe="exp_year" size="4" type="text">
 
                    <label>
                        <span>CVC</span>
                        <input data-stripe="cvc" size="3" type="text">
                    </label>
                </div>
                <button>Payer</button>
            </form>
        </div>
    </div>