{% extends 'base.html.twig' %} 

{% block title %}Order{% endblock %}

{% block body %}
    <!-- Main -->
    
    <div class="padding">
            <h1> Etat du paiement : {{state}}
    </div>
  


{% endblock %}

{% block javascript %}

{% endblock %}