{% extends 'baseDashboard.html.twig' %}

{% block title %} Mes Commandes {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="centered">  Vos commandes </h1>
        {#  {{ order.amount}}{{ order.status}}  #}
    </div>
{% endblock %}
